* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
ul,
ol {
  list-style: none;
}

body {
  background-image: url("./images/bg-desktop-light.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
